.signupbox {
    background: #F7F7FA;
    border: 1px solid #E1E1E1;
    border-radius: 8px;
    padding: 30px 50px 40px;
    margin: 70px 0px 0px;
}
.signupbox h2 {
    font-size: 33px;
    margin-bottom: 10px;
    font-weight: 600;
    text-align: center;
}
.signupbox p
{  
      text-align: center;
      font-size: 16px;
}
.signupbox .form-control
{
    padding: 11px 18px !important;
}
.form-control:focus
{
    box-shadow:none;
}
button.signup-btn {
    background: #ef802e;
    color: #fff;
    width: 100%;
    padding: 10px 0px;
    border-radius: 29px;
    box-shadow: 6px 5px 10px #0000005e;
}
button.signup-btn a{
    color: #fff;
}
button.signup-btn a:hover{
    color: #fff;
}
button.signup-btn:hover{
    background: #05a2b7;
    color: #fff;
}
.member-pgh {
    text-align: center;
    margin-top: 24px;
    font-size: 16px;
    margin-bottom: 0px;
}
 
.member-pgh a {
    color: #ef802e;
}
.member-pgh a:hover {
    color: #00a5ba;
}
.mt-bc-lspg {
    margin-top: 7%;
}
 